name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    steps:
      - uses: actions/checkout@v4.1.1
      - id: matrix
        run: |
          numbers=()
          for year in 2022 2023 2024 2025; do
              for i in {1..25}; do
                  dir=$(printf "$year/day%02d" "$i")
                  if [ -d "$dir" ]; then
                      numbers+=($(printf "\"$year/day%02d\"" "$i"))
                  fi
              done
          done
          echo "$(IFS=','; echo "value=[${numbers[*]}]")" >> $GITHUB_OUTPUT
      - run: |
          echo "${{ steps.matrix.outputs.value }}"
  
  build:
    needs: [ setup ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{fromJSON(needs.setup.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Build
        run: cargo build --verbose --release --manifest-path ${{ matrix.value }}/Cargo.toml
      - name: Run tests
        run: cargo test --verbose --release --manifest-path ${{ matrix.value }}/Cargo.toml
